


<app-banner  title="add Player"></app-banner>

  
  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <form #playerForm="ngForm" (ngSubmit)="addplayer()">
            <div class="form-group">
              <input type="text"name="nom"[(ngModel)]="player.nom" class="form-control" placeholder="Name">
            </div>
            <div class="form-group">
              <input type="number" name="age"[(ngModel)]="player.age"  class="form-control" placeholder="Age">
            </div>
            <div class="form-group">
              <input type="text" name="position"[(ngModel)]="player.position" class="form-control" placeholder="Postion">
            </div>
            <div class="form-group">
                <input type="number" name="nombre"[(ngModel)]="player.nombre" class="form-control" placeholder="Nbre">
              </div>

              <div class="form-group">
                <select name="" id="teamId" class="form-control" (change)="selectteamId($event)">
                <option *ngFor="let t of teams" [value]="t._id" style="color: black;">
                {{t.name}}
                </option>
                </select>
                </div>  
            <div class="form-group">
              <input type="submit" class="btn btn-primary py-3 px-5" value="add Player">
            </div>
          </form>  
        </div>
       
      </div>
    </div>
  </div>

